<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>
        <a href="{% url 'pizzas:index' %}">pizzas shop</a>
        <a href="{% url 'pizzas:pizzas' %}">pizzas kind</a>
        {%if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'users:logout' %}">log out</a>
        {% else %}
        <a href="{% url 'users:register' %}">register</a> -
        <a href="{% url 'users:login' %}">log in</a>
        {% endif %}
     </p>
    {% block content %}
    {% endblock content %}
</body>

</html>