{%extends 'pizzas/base.html' %} 

{% block header %}
    <h2>{{ pizza }}</h2>
{% endblock header %}

{% block content %}
<p>
<a href="{% url 'pizzas:new_topping' pizza.id%}">add new topping</a>
</p>
{% for topping in toppings %}
    <div class="panel panel-default">
        <div class="panel-heading">
                <h3>
                    <small>
                        <a href="{% url 'pizzas:edit_topping' topping.id%}">edit this topping</a>
                    </small>
                </h3>
                <div class="panel-body">
                    {{topping.name|linebreaks}}
                </div>
        </div> 
    </div> <!-- panel --> 
    {% empty %}
    <h3>
        There are no entries for this topic yet.
    </h3>
{%endfor%}
{% endblock content %}